{% extends "layout.html" %}
{% block body %}

<h1>Choose a docker envrionment</h1>
<p>We have pre-built some docker envronemnts, choose one to build a container</p>
<table style="width:100%">
  <tr>
  <td>
  <a href="dfview/Dockerfile_Seismology">
    <img src="seismo.jpg" alt="seismology docker file"
     style="width:150px;height:150px;border:0;">
  </a>
  </td>
    <td>
  <a href="dfview/Dockerfile_DataScience">
    <img src="data.png" alt="data science docker file"
     style="width:150px;height:150px;border:0;">
  </a>
  </td>
  </tr>
  <tr>
  <td>
  <a href='dfview/Dockerfile_DataScience'>Seismology envronment</a>
  </td>
  <td>
  <a href='dfview/Dockerfile_DataScience'>Data science environment</a>
  </td>
  </tr>
</table>

{% block content %}
<h1>Build a docker envrionment</h1>
<table class="table"><form method="POST"  action="/builddockerfile">
<tr>
<th> OS </th>
<th> Language(s) </th>
<th> Applications </th>
</tr>
<tr>
<td>
{% for system in os %}
    <input type="checkbox" name="os" value="{{ system }}">{{ system }}<br>
{% endfor %}
</td>
<td>
{% for lang in langs %}
    <input type="checkbox" name="lang" value="{{ lang }}">{{ lang }}<br>
{% endfor %}
</td>
<td>
{% for app in apps %}
    <input type="checkbox" name="apps" value="{{ app }}">{{ app }}<br>
{% endfor %}
</td>
</tr>
<td>
    <input class="button1" type="submit" value="Build docker configuration">
</td>

</form></table>
{% endblock content %}

{% endblock %}
