<html>
<body>

<p>The image is a link. You can click on it.</p>
<table style="width:100%">
  <tr>
  <td>
  <a href="//dfview/Dockerfile_Seismology">
    <img src="//images/seismo.jpg" alt="seismology docker file"     style="width:42px;height:42px;border:0;">
  </a>
  </td>
    <td>
  <a href="//dfview/Dockerfile_DataScience">
    <img src="//images/seismo.jpg" alt="data science docker file"     style="width:42px;height:42px;border:0;">
  </a>
  </td>
  </tr>
  <tr>
  <td>
  Seismology
  </td>
  <td>
  Data science
  </td>
  </tr>
</table>
<p>Some text here</p>


</body>
</html>
